---
import 'modern-css-reset';
import Footer from '../components/Footer.astro';
import Navigation from '../components/Navigation.astro';
import '../styles/main.css';

const { title, description } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const SITE_LOCALE = 'en-GB';
---

<html lang={SITE_LOCALE}>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content={description} />
		<link rel="canonical" href={canonicalURL} />

		<meta property="og:locale" content={SITE_LOCALE} />

		<link rel="icon" sizes="96x96" href="/favicon-96x96.png" />

		<!--
			TODO: favicon
			TODO: social meta tags
		 -->

		<title>{title}</title>
	</head>
	<body>
		<div class="layout">
			<header>
				<Navigation />
			</header>
			<slot />
			<Footer />
		</div>
	</body>
</html>

<style>
	.layout {
		display: flex;
		flex-direction: column;
		gap: var(--page-margin);
	}
</style>
